$elegant-dark: #3b424e;
$unique-dark: #223861;
$blue: #0099ff;
$black: #000000;
$white: #ffffff;
$blue-accent: #0088e2;
$blue-darken: #294882;
$blue-darken-shadow: #07418f;
$blue-darker-extremely: #1d3354;
$warning: #fe617b;
$blue-grey-lighten: #c6daf3;
$light-blue-lighten: #f6f9fe;
$grey-darken: #707070;
$light-grey: #e0e3e9;
$yellow: #ffc400;
$medium-grey: #8e9dba;
$medium-grey-darker: #77869a;
$success: #77c159;
