@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/swiper/swiper-bundle";
@import "node_modules/plyr/src/sass/plyr.scss";
@import "node_modules/flatpickr/dist/flatpickr";

//відступи
.container {
	@each $breakpoint, $gutter in $grid-gutter-widths {
		@include media-breakpoint-up($breakpoint) {
			@include make-container($gutter);
		}
	}
}

.row {
	@each $breakpoint, $gutter in $grid-gutter-widths {
		@include media-breakpoint-up($breakpoint) {
			@include make-row($gutter);
		}
	}
	.row > .col,
	.row > [class*="col-"] {
		@each $breakpoint, $gutter in $grid-gutter-widths {
			@include media-breakpoint-up($breakpoint) {
				@include make-col-ready($gutter);
			}
		}
	}
}

// @each $grid-breakpoint, $grid-gutter-width in $grid-gutter-widths {
// 	@include media-breakpoint-up($grid-breakpoint) {
// 		$grid-gutter-half-width: $grid-gutter-width / 2;
// 		.row:not(.no-gutters) {
// 			margin-right: -$grid-gutter-half-width;
// 			margin-left: -$grid-gutter-half-width;
// 		}
// 		.row:not(.no-gutters) > .col,
// 		.row:not(.no-gutters) > [class*="col-"] {
// 			padding-right: $grid-gutter-half-width;
// 			padding-left: $grid-gutter-half-width;
// 		}
// 	}
// }
